@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --dark-blue: #0a1d3c;
  --light-grey: #e5e5e5;
  --white: #fff;
  --light-peach:#f9e3bc;
  --dark-grey: #3e3f43;
  --light-black: #1D1D1D;
}
html{
  scroll-behavior: smooth;
}

/* sectionone code is here */

section{
  height: 100vh;
  width: 100%;
/* background-color: var(--light-grey); */
}
nav{
  height: 13vh;
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header{
  height: calc(100vh - 13vh);
  width: 80%;
  
  display: flex;
  align-items: center;
margin: auto;
justify-content: space-evenly;
}
.logo{
  font-size: 4rem;
  color: var(--dark-blue);
  font-family: "Allison", cursive;
  font-weight: 600;
}
.navlinks {
  display: flex;
  
}
.header-image{
  width: 40rem;
}
.navlinks li{
  list-style: none;
}
.navlinks li a{
  margin-left: 2.5rem;
  text-decoration: none;
  font-size: 1rem;
  color: var(--dark-grey);
  letter-spacing: .03rem;
  position: relative;
  font-weight: 500;
}

.header-heading{
  font-size: 5rem;
  position: relative;
}
.header-heading::before{
content: "new";
font-family: "Allison", cursive;
position: absolute;
top: -60px;
color: var(--dark-blue);
}
.product-name{
  font-size: 1.7rem;
  color: black;
}
.header-pricing{
  font-size: 1.5rem;
  margin: 1rem 0rem;
  
}
.primary-btn, .secondary-btn{
  font-size: 1.rem;
  border: none;
  padding: 1rem 1.7rem;
}
.primary-btn{
  background: var(--light-grey);

  transition: transform .5s ease-in-out;
}

.secondary-btn{
background: var(--dark-blue);
color: var(--white);
transform: scale(1.1);
transition: transform .5s ease-in-out;

}
.primary-btn:hover{
  transform: scale(1.1);
}
.secondary-btn:hover{
  transform: scale(1);
}
.btn-container{
  display: flex;
  margin-top: 2rem;
}
.navlinks li a:after, .navlinks li .active:after{
  content: "";
  background: var(--dark-grey);
  position: absolute;
  height: .15rem;
  width: 100%;
  left: 0;
  bottom: -5px;
  transform: scalex(0);
  transition: transform .5s ease-in-out;
  transform-origin: right;
}
.navlinks li a:hover::after, .navlinks li .active:after{
  transform: scalex(1);
  transform-origin: left;
}
.line{
  background: var(--dark-grey);
  width: 2.5rem;
  height: .2rem;
  margin: .90rem;

}
.hamburger{
display: none;
  cursor: pointer;
}


.section-two{
  display: flex;
  align-items: center;
}
.section-two-container{
  background: var(--light-peach);
  height: 50vh;
  width: 100%;
  transform: skewY(-6deg);
}
.section-two-image{
  width: 28rem;
}
.section-two-inner-conatiner{
  transform: skewY(6deg);
  width: 80%;
  margin: auto;
  
}
.section-two-container, .section-two-inner-conatiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two-heading{
  color: var(--dark-grey);
  font-size: 4rem;
}
.section-two-para{
  font-size: 1.1rem;
  line-height: 1.5rem;
  max-width: 80%;
}
.section-two-pricing{
  font-size: .6rem;
  color: var(--dark-grey);
  font-weight: 500;
  margin: .10rem 0rem;
}
.section-two-btn{
  padding: .9rem 1.7rem;
  border: .1rem solid black;
  background: transparent;
  transition: transform .5s ease-in-out;
}
.section-two-btn:hover{
  
  transform: scale(1.1);
}


/* SECTION THREE CODE BEGINS FROM HWERE */
.section-heading{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 4rem;
}

.section1{
  height: 230vh;
  width: 100%;

}
.cart-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.cart-image{
  width: 20rem;
}
.cart{
  background-color: var(--light-grey);
  padding: 2rem;
}
.cart-image2{
margin: 4.5rem 0;
}
.cart-image3{
  margin: 1.7rem 0;
}
.cart-pricing{
  font-size: 1.2rem;
  margin-top: .2rem;
  margin-bottom: 1.8rem;
}

/* SECTION FOUR CONTAINER */
.section-four-container{
  background-image: url(assets/offer.jpg);
  background-position: center;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed ;
height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.section-four{
  display: flex;
  align-items: center;

}
.section-four-offer{
  font-size: 5rem;
  color: var(--light-peach);

}
.section-four-heading{
  font-size: 4rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}
.section-four-btn{
font-size: 1.1rem;
padding: 1rem 1.7rem;
background-color: var(--light-peach);
transition: transform .5s ease-in-out;
}
.section-four-btn:hover{
  transform: scale(1.1);
}
.section-four-container::after{
  content: " ";
  background-color: rgba(0,0,0,0.54);
  
  position: absolute;
  inset:0 ;
}
.section-four-container .content{
  z-index: 4;
}


/* section five code is here */
.grid-cart-container{
  
  width: 60%;
  margin: auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1.3rem;
  grid-auto-rows: 15rem;
}
.grid-cart{
  background: var(--light-grey);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.grid-cart:nth-child(1){
  grid-row: 1/4;
  background-image: url(assets/imageone.jpg);
}
.grid-cart:nth-child(2){
background-image: url(assets/watch2.jpg);
}
.grid-cart:nth-child(5){
  background-image: url(assets/watch3.jpg);

}
.grid-cart:nth-child(6){
  background-image: url(assets/watch8.jpg);

}
.grid-cart:nth-child(3){
  grid-row: 1/3;
  background-image: url(assets/watch9.jpg);
}
.grid-cart:nth-child(4){
  grid-row: 3/4;
  background-image: url(assets/watch10.jpg);
}
.grid-cart::before{
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0.544);
  inset: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s ease-in-out;
}
.grid-cart:hover::before{
  transform: scalex(1);
  transform-origin: left;

}
.grid-cart::after{
  content: attr(collection);
  position: absolute;
  text-transform: uppercase;
  background: var(--light-peach);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.7rem;
  font-size: 1.1rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}.grid-cart:hover:after{
  opacity: 1;
  visibility: visible;
}


/* footer code begins from here  */
footer{
  background: var(--dark-blue);
  height: 20vh;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer-text{
  color: white;
  font-size: 1.5rem;
}






























































/* responsive website code begins from here saab media query start hua yha se*/
/* section--one---meia query */

@media screen  and (max-width:800px){
  .header-image{
    display: none;
  }
    .navlinks{
     flex-direction: column;
     position: absolute;
     top: 0;
     right: 100%;
     background-color: var(--light-grey);
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
     z-index: 5;
     gap: 3rem;
     transition:  .5s ease-in-out;
    }
    .navlinks-active{
      right: 0;
    }
    .navlinks li a{
      font-size: 1.5rem;
      margin-left: 0;
      
    }
  .hamburger{
    display: block;
    z-index:5;
  }
  .logo{
    z-index: 6;
  }
  .header-heading{
    font-size: 4rem;

  }
  header{
    justify-content: flex-start;
  }

  /* SECTION TWO MEDIA QUWRIES CODE BEGINS FROM HERE  */
  .section-two-image{
    display: none;
  }
  .section-two-heading{
    font-size: 2.9rem;
  }
  .section-two-para{
    font-size: .93rem;
    max-width: 100%;
  }
  .section-two-pricing{
    font-size: 1.4rem;
    
  }
  .section-two-btn{
    font-size: 1rem;
    padding: .7rem 1rem;
  }
  .section-two-container{
  height: 60vh;
  }
  .section-inner-container{
    width: 90%;
  }

  /* SECTION THREEE MEDIA QUERIES */
  .cart-image{
    width: 17rem;
 }
 
 /* section four media queries */

.section-four-heading{
  font-size: 2.8rem;
}
.section-four-offer{
  font-size: 3.4rem;
}
.section-four-btn{
  font-size: 1rem;
}
/* 
section five */
.grid-cart-container{
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  width: 90%;
}
.grid-cart:nth-child(1), .grid-cart:nth-child(3){
  grid-row: 1/2;
}

}